# settings for docker-compose.yaml

APP_NAME=Docker Test

NGINX_PORT=8073
FORWARD_DB_PORT=3310
REDIS_PORT=6011


DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=devtest
DB_USERNAME=devtest
DB_PASSWORD=devtest

FORWARD_MAILHOG_PORT=1027
FORWARD_MAILHOG_DASHBOARD_PORT=6012

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=james@toggen.com.au
MAIL_FROM_NAME="${APP_NAME}"

