# settings for docker-compose.yaml

APP_NAME=Docker Test

BASE_PORT=70

FORWARD_NGINX_PORT=${BASE_PORT}10
FORWARD_DB_PORT=${BASE_PORT}11
FORWARD_REDIS_PORT=${BASE_PORT}12
FORWARD_MAILHOG_PORT=${BASE_PORT}13
FORWARD_MAILHOG_DASHBOARD_PORT=${BASE_PORT}14
FORWARD_PHPMYADMIN_PORT=${BASE_PORT}15

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=devtest
DB_USERNAME=devtest
DB_PASSWORD=devtest

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=james@toggen.com.au
MAIL_FROM_NAME="${APP_NAME}"

